
<div style="background-color:orange; padding-top: 80px ; padding-bottom: 20px;">

    <div class="container" style="padding-top: 20px; background-color: white; box-shadow: 10px 10px 5px">
        <div class="container-fluid" style="padding-left: 140px; padding-top: 20px; padding-bottom: 20px;">
            <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead class="thead" style="background-color: orange; box-shadow: 10px 10px 5px grey">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Client Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>GST No.</th>
                            
                        </tr>
                    </thead>
                    <tbody >
                        
                        <tr >
                            <th>1</th>
                            <th>John</th>
                            <th>Ph No.</th>
                            <th>john@example.com</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Mary</th>
                            <th>Ph No.</th>
                            <th>mary@example.com</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>July</th>
                            <th>Ph No.</th>
                            <th>july@example.com</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        </div>


    </div>
</div>