<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <style>
    .button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      
    }

    .button2 {
      background-color: #008CBA;
    }

    /* Blue */
    .button3 {
      background-color: #f44336;
    }

    /* Red */
    .button4 {
      background-color: #e7e7e7;
      color: black;
    }

    /* Gray */
    .button5 {
      background-color: #555555;
    }

    /* Black */
  </style>
  <div style="background-color:orange; padding-top: 20px ; padding-bottom: 20px;" >
  <div class="container" style="padding-top: 20px; background-color: white; box-shadow: 10px 10px 15px rgb(83, 76, 76) ">

    <div class="container-fluid" style="padding-left: 140px; padding-top: 20px; padding-bottom: 20px;">
      <div class="row">
        <div class="col-md-7" >
          <h1 style=" background-color:orange; color:white; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; box-shadow: 10px 10px 5px grey">Logipool</h1>
        </div> 

        <div class="col-md-3 ">
          <h6>Dnyandeep colony,</h6>
          <h6>Shriraj Bungalow,</h6>
          <h6>Yogiraj Park,</h6>
          <h6>Lane No. 1,</h6>
          <h6>near Vidarbh Tadka hotel,</h6>
          <h6>Cummins college to Rajaram</h6>
          <h6>bridge road,</h6>
          <h6>Hingne Budruk,</h6>
          <h6>Karve Nagar,</h6>
          <h6>Pin: 411 052</h6>
          
        </div>

      </div>
      <div class="col-md-2" style="padding-top: 40px;">
        <h3 class="row">Invoice</h3>
        <h5 class="row">#0037</h5>
      </div>
      <div class="col-md-2" style="padding-top: 10px;">
        <h6 class="row">Bill to:</h6>

      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Cecilia Chapman">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="711-2880 Nulla St.">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Mankato Mississippi 96522">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="(257) 563-7401">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="GST NO.">
            </div>


        </div>
        <div class="col-md-2" >
          <div style=" background-color: orange ; padding: 16px;box-shadow: 10px 10px 5px grey">
          <h5>Issued :</h5>
          <h5>Due On :</h5>
        </div>
        </div>
        <div class="col-md-3" >
          <div style=" background-color:orange; padding:10px;box-shadow: 10px 10px 5px grey" class="form-group" >
          <input type="date"  class="form-control" style="padding-left: 10px;">
          <input type="date" class="form-control" style="padding-left: 10px;">
        </div>
        </div>


      </div>
      <div style="padding-top: 40px;">
        <table class="table col-md-10">
          <thead class="thead" style="background-color: orange; box-shadow: 10px 10px 5px grey;">
            <tr>
              <th>Item </th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Tax</th>
              <th>Line Total</th>
            </tr>
          </thead>
          <tbody  >
            <tr>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="usr">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table class="row" >
<td class="col-md-6">

</td>

          <td class="col-md-2">
            <tr>
              <h5>Subtotal:</h5>
            </tr>
            <tr>
              <h5>S GST:</h5>
            </tr>
            <tr>
              <h5>C GST:</h5>
            </tr>
            <tr>
              <h5>Total:</h5>
            </tr>
            <tr>
              <h5>Paid</h5>
            </tr>
          </td>
          <td class="col-md-2">
            <tr>
              <h5>12000</h5>
            </tr>
            <tr>
              <h5>12</h5>
            </tr>
            <tr>
              <h5>12</h5>
            </tr>
            <tr>
              <h5>24000</h5>
            </tr>
            <tr>
              <h5>No</h5>
            </tr>
          </td>

        </table>
      </div>
      <div>
        <table class="table col-md-10">
          <thead class="thead" style="background-color: orange;box-shadow: 10px 10px 5px grey">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Amount Due</th>
              <th>30000</th>
            </tr>
          </thead>

        </table>
      </div>
      <button class="button">Print</button>
      <button class="button button2">Save</button>
      <button class="button button3">Clear</button>



    </div>
  </div>
  </div>
</body>

</html>